/* bootstrap */
body {
	background: #3b3b3b;
}

a.tile {
		display:block;
		padding: 3.5em 1em 3.5em 1em;
		text-align: center;
		font-size: 2em;
		color: white;
}

.tile:hover {
	transition: opacity 1s ease;
	opacity: .6;
}

/* Container properties for pages */
.tile-info {
		padding: 3.5em;
}

/* Pages */
ul li {
	color: white;
}

#breadcrumbs p{
	font-size: 0.75em;
	text-transform: uppercase;
	color: white;
}
/* Nav Bar */
nav {
	margin: 0;
}
nav ul{
    padding: 0;
    list-style: none;
    background: #3b3b3b;
}

nav ul a:hover{
	text-decoration: none;
}

nav ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
nav ul li a{
	font-size: 1em;
  display: block;
  padding: 1em 1.5em;
	margin: 0;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover{
  color: #fff;
  background: #585858
}

nav ul li a:hover{
  color: #fff;
  background: #585858;
}

nav ul li ul.dropdown{
	min-width: 125px; /* Set width of the dropdown */
	background: #3b3b3b;
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;
}

nav ul li:hover ul.dropdown{
	display: block;	/* Display the dropdown */
}

nav ul li ul.dropdown li{
	display: block;	/* Display the dropdown */
}

nav ul li ul.dropdown li{
	display: block;
}

.active {
	background-color: #a3c300;
}

/* Links */
a:hover {
	text-decoration: none;
}

.tile p {
	margin: 0;
	padding: 0;
}

/* Typography */
h1,
h2,
h3,
h4 {
	font-weight: 100;
	color: white;
}

p {
	font-size: 1.2em;
	font-weight: 150;
	line-height: 1.5em;
	color: white;
}

p.white-text {
	color: #fff;
}

/* Utility Classes */
.bottom {
	margin-bottom: 2em;
}

/* Windows 10 Colors */
.amber {
	background: #f0a209;
}

.magenta {
	background: #d80073;
}

.mauve {
	background: #76608a;
}

.sienna {
	background: #7a3b3f;
}

.brown {
	background: #825a2c;
}

.lime {
	background: #a3c300;
}

.olive {
	background: #6d8663;
}

.steel {
	background: #647687;
}

.cobalt {
	background: #0050ee;
}

.indigo {
	background: #6a00fe;
}

.orange {
	background: #f96700;
}

.teal {
	background: #00aaa8;
}

.crimson {
	background: #a20025;
}

.green {
	background: #60a917;
}

.pink {
	background: #f471d0;
}

.violet {
	background: #aa00ff;
}

.cyan {
	background: #1ba1e2;
}

.emerald {
	background: #008900;
}

.red {
	background: #e51400;
}

.yellow {
	background: #d8c100;
}

.imgspace {
	margin-bottom: 10px;
	}

hr {
	height: 0;
	border: 0.1em solid #464646;
	margin: 2em 0;
}
